<p>La première étape consiste à générer une demande de certificat au format fichier pour pouvoir effectuer une demande de certificat SSL de développement dans un deuxième temps.</p>
<ol>
<li>Lancer l'application trousseaux d'accès sous MAC OS X</li>
<li>Ouvrir le menu Trousseaux d'accès/Assistant de certification/Demander un certificat à une autorité de certificat...</li>
<p><a href="{{ site.baseurl }}/assets/Figure-1.png"><img src="{{ site.baseurl }}/assets/Figure-1-300x94.png" alt="" width="300" height="94" class="alignnone size-medium wp-image-268" /></a></p>
<li>Saisir les informations demandées et enregistrer la demande sur le disque. Cliquer sur Continuer.</li>
<p><a href="{{ site.baseurl }}/assets/Figure-2.png"><img src="{{ site.baseurl }}/assets/Figure-2-300x212.png" alt="" width="300" height="212" class="alignnone size-medium wp-image-266" /></a></p>
<li>Sauvegarder la demande de certificat en gardant les valeurs par défaut en cliquant sur Enregistrer.</li>
<p><a href="{{ site.baseurl }}/assets/Figure-3.png"><img src="{{ site.baseurl }}/assets/Figure-3-300x98.png" alt="" width="300" height="98" class="alignnone size-medium wp-image-271" /></a></p>
<li>Sur la fenêtre suivante cliquer sur Terminé.</li>
</ol>
