<p>La partie serveur développé en Java s'appuie sur la librairie JavaPNS qui nécessite un certificat d'échange d'informations personnelles.</p>
<ol>
<li>Sous l'application Trousseaux d'accès, cliquer sur l'item Certificats dans Catégorie.</li>
<p><a href="{{ site.baseurl }}/assets/Figure-23.png"><img src="{{ site.baseurl }}/assets/Figure-23-300x122.png" alt="" width="300" height="136" class="alignnone size-medium wp-image-323" /></a></p>
<li>Sélectionner Apple Development IOS Push Services: com.fortuneo.TestAlerte ainsi que la clé privée associé.</li>
<p><a href="{{ site.baseurl }}/assets/Figure-24.png"><img src="{{ site.baseurl }}/assets/Figure-24-300x32.png" alt="" width="300" height="32" class="alignnone size-medium wp-image-324" /></a></p>
<li>Clique droit Exporter 2 éléments...</li>
<p><a href="{{ site.baseurl }}/assets/Figure-25.png"><img src="{{ site.baseurl }}/assets/Figure-25-300x66.png" alt="" width="300" height="66" class="alignnone size-medium wp-image-325" /></a></p>
<li>Saisir pushAlerte dans le champs Enregistrer sous et choisissez la destination. Cliquer sur Enregistrer. </li>
<p><a href="{{ site.baseurl }}/assets/Figure-26.png"><img src="{{ site.baseurl }}/assets/Figure-26-300x107.png" alt="" width="300" height="107" class="alignnone size-medium wp-image-326" /></a></p>
<li>Saisir un mot de passe et cliquer sur OK.</li>
<p><a href="{{ site.baseurl }}/assets/Figure-27.png"><img src="{{ site.baseurl }}/assets/Figure-27-300x185.png" alt="" width="300" height="185" class="alignnone size-medium wp-image-327" /></a>
</ol>
