<p>Chaque application iPhone qui utilise le service APN doit avoir un ID d'application unique. Nous allons donc créer cet ID d'application pour la notification Push. Attention, il n'est pas possible de supprimer des App ID dans l'interface de gestion Apple, toute création est définitive.</p>
<ol>
<li>S'identifier sur le portail iPhone Developer Program (http://developer.apple.com/iphone/) puis cliquer sur IOS Provisionning Portal dans le menu de droit.</li>
<p><a href="{{ site.baseurl }}/assets/Figure-4.png"><img src="{{ site.baseurl }}/assets/Figure-4-300x98.png" alt="" width="300" height="98" class="alignnone size-medium wp-image-276" /></a></p>
<li>La page du IOS Provisioning Portal s'ouvre.</li>
<p><a href="{{ site.baseurl }}/assets/Figure-5.png"><img src="{{ site.baseurl }}/assets/Figure-5-300x182.png" alt="" width="300" height="182" class="alignnone size-medium wp-image-277" /></a></p>
<li>Cliquer sur l'item App Ids du menu de gauche, puis sur le bouton New App ID.</li>
<p><a href="{{ site.baseurl }}/assets/Figure-6.png"><img src="{{ site.baseurl }}/assets/Figure-6-300x86.png" alt="" width="300" height="86" class="alignnone size-medium wp-image-278" /></a></p>
<li>Entrer TestAlerteAppID dans le champs Description.</li>
<li>Sélectionner Generate New ou Use Team ID dans le champs Bundle Seed ID (App ID Prefix) si vous avez déjà un identifiant déclaré.</li>
<li>Entrer un identifiant (Ex : com.fortuneo.TestAlerte) dans le champs Bundle Identifier (App ID Suffix),puis cliquer sur Submit.</li>
<p><a href="{{ site.baseurl }}/assets/Figure-7.png"><img src="{{ site.baseurl }}/assets/Figure-7-300x174.png" alt="" width="300" height="184" class="alignnone size-medium wp-image-279" /></a></p>
<li>Normalement la nouvelle entrée doit apparaître dans la liste.</li>
<p><a href="{{ site.baseurl }}/assets/Figure-8.png"><img src="{{ site.baseurl }}/assets/Figure-8-300x63.png" alt="" width="300" height="63" class="alignnone size-medium wp-image-280" /></a>
</ol>
