---
layout: page
title: A propos de Frédéric Gillouard
date: 2012-01-17 10:59:58.000000000 +01:00
type: page
published: true
status: publish
categories: []
tags: []
meta:
  _edit_last: '1'
author:
  login: superuser
  email: frederic_gillouard@yahoo.com
  display_name: superuser
  first_name: ''
  last_name: ''
---
<table>
<tbody>
<tr>
<td style="width: 210px; background-color: #ffffff; border-width: 0px;"><img class="alignnone size-full wp-image-379" title="tete" src="{{ site.baseurl }}/assets/tete.jpg" alt="" width="150" height="185" /></td>
<td style="background-color: #ffffff; border-width: 0px;">
<h1 class="title" style="text-align: center;"><strong>Architecte Applicatif</strong></h1>
<h1 class="title" style="text-align: center;"><strong>Développeur Java Sénior</strong></h1>
<h1 class="title" style="text-align: center;"><strong>15 ans d'expérience</strong></h1>
</td>
</tr>
</tbody>
</table>
<table class="column-1" style="font-family: Arial,sans-serif;" border="0" cellspacing="0">
<tbody>
<tr>
<td style="border-color: #000000; border-width: 1px; border-bottom-style: solid; background-color: #d3d3d3;"><span style="color: #ffffff; margin-left: 5px; font-size: medium;"><strong>Parcours Professionnel</strong></span></td>
<td style="border-color: #000000; border-width: 1px; border-bottom-style: solid; background-color: #ffffff;"></td>
</tr>
<tr>
<td style="background-color: #d3d3d3; vertical-align: text-top;"><span style="margin-left: 5px;"><em>Depuis Déc. 2012,</em></span><br />
<span style="margin-left: 5px; font-size: medium; color: #000000;"><strong>Crédit Mutuel Arkéa</strong></span></td>
<td style="background-color: #ffffff; padding-left: 10px;"><span style="color: #000000; font-size: medium;"><strong>Ingénieur étude/système Méthodes Appliquées</strong></span></p>
<ul>
<li><span style="color: #000000; font-size: small;">Réalisation d'un prototype de déploiement applicatif sur OpenStack avec CoreOS, Heat et Docker.</span></li>
<li><span style="color: #000000; font-size: small;">Etude des solutions PaaS utilisables sur une infrastructure OpenStack.</span></li>
<li><span style="color: #000000; font-size: small;">Création d'un service permettant de centraliser toutes les informations nécessaires au déploiement applicatif.</span></li>
<li><span style="color: #000000; font-size: small;">Expert technique au prés des équipes Arkéa pour les problématiques d'architecture, de développement et d'exploitation.</span></li>
<li><span style="color: #000000; font-size: small;">Création d'un service permettant l'externalisation des configurations des applicatifs au sein du SI.</span></li>
</ul>
</td>
</tr>
<tr>
<td style="background-color: #d3d3d3; vertical-align: text-top;"><span style="margin-left: 5px;"><em>Avril. 2008 à Déc. 2012</em></span><br />
<span style="margin-left: 5px; font-size: medium; color: #000000;"><strong>Crédit Mutuel Arkéa</strong></span></td>
<td style="background-color: #ffffff; padding-left: 10px;"><span style="color: #000000; font-size: medium;"><strong>Responsable projet domaine Fortunéo</strong></span></p>
<ul>
<li><span style="color: #000000; font-size: small;">Création du service de notification tous médias(mail, Iphone...) pour Fortunéo.</span></li>
<li><span style="color: #000000; font-size: small;">Définition de l'architecture, accompagnement des équipes et support pour l'intégration du nouveau composant de fourniture de flux boursier au sein du SI Fortunéo.</span></li>
<li><span style="color: #000000; font-size: small;">Architecte du site jeune Bemix du crédit Mutuel Arkéa.</span></li>
<li><span style="color: #000000; font-size: small;">Architecte de l'application de suivi des relations clientes proposée dans l'offre B2B de ProCapital Banking Services (Thrift, Java, Spring, GWT).</span></li>
<li><span style="color: #000000; font-size: small;">Définition, mise en oeuvre, sécurisation de WebService pour permettre à des applications tierces (Iphone, Android, PlateForme de tradding...) d'utiliser les fonctionnalités bancaires et bourses de Fortunéo (Thrift, Java).</span></li>
<li><span style="color: #000000; font-size: small;">Responsable développement du site mobile web Fortunéo destiné en priorité aux utilisateurs Iphone (GWT, Java).</span></li>
<li><span style="color: #000000; font-size: small;">Architecte des composants applicatifs utilisés par les sites bancaire, bourse et smartphone Fortunéo (Struts, GWT, Spring, Java, Thrift).</span></li>
<li><span style="color: #000000; font-size: small;">Architecte et développeur de la solution d'asynchronisme qui a permis de repositionner la qualité de service du site Fortunéo (Ajax, Cocoon, Jms, Java, Html).</span></li>
<li><span style="color: #000000; font-size: small;">Expert technique lors de la finalisation et du déploiement du site web Fortunéo après le rachat de la société par le Crédit Mutuel Arkéa (Cocoon, Java, Html).</span></li>
</ul>
</td>
</tr>
<tr>
<td style="background-color: #d3d3d3; vertical-align: text-top; padding-left: 15px;"><em>Mai. 2004 à Avril. 2008</em><br />
<span style="font-size: medium; color: #000000;"><strong>Groupement informatique</strong></span><span style="font-size: medium; color: #000000;"><strong>du crédit mutuel</strong></span></td>
<td style="background-color: #ffffff; padding-left: 10px;"><span style="color: #000000; font-size: medium;"><strong>Responsable d'application aux canaux à distance</strong></span></p>
<ul>
<li><span style="color: #000000; font-size: small;">Architecte du prototype de la refonte du site bancaire Domiweb</span></li>
<li><span style="color: #000000; font-size: small;">Intégration de WebService de partenaires externes (BRED, Suravenir...) au sein du SI du Crédit Mutuel (Axis/ Java).</span></li>
<li><span style="color: #000000; font-size: small;">Architecte Java du site jeune VIP du Crédit Mutuel (Web 2.0, Ajax, Struts, Jms).</span></li>
<li><span style="color: #000000; font-size: small;">Intégration de la plateforme de rechargement mobile Bouygues Télécom au sein du portail Domiweb.</span></li>
<li><span style="color: #000000; font-size: small;">Responsable technique de l'intégration de l'outil CMS Nohéto au sein du SI du groupe Arkéa (Ant, Java, Cvs).</span></li>
<li><span style="color: #000000; font-size: small;">Définition, développement et mise en place de la nouvelle ergonomie des sites web du Crédit Mutuel (Jsp, Css, Java).</span></li>
</ul>
</td>
</tr>
<tr>
<td style="background-color: #d3d3d3; vertical-align: text-top;"><span style="margin-left: 5px;"><em>Nov. 2001 à Mai. 2004</em></span><br />
<span style="margin-left: 5px; font-size: medium; color: #000000;"><strong>NIJI</strong></span></td>
<td style="background-color: #ffffff; padding-left: 10px;"><span style="color: #000000; font-size: medium;"><strong>Ingénieur d'étude et de développement Web</strong></span></p>
<ul>
<li><span style="color: #000000; font-size: small;">Responsable de l'équipe IHM sur le projet SAFe, système d'activation de l'offre VPN de Cegetel (Perl, Jsp, Java).</span></li>
<li><span style="color: #000000; font-size: small;">Responsable de l'équipe IHM sur le projet d'allocation de ressources réseaux OSCAR Equant : spécification, développement et intégration (Php, Jsp, Java).</span></li>
</ul>
</td>
</tr>
<tr>
<td style="background-color: #d3d3d3; width: 210px; vertical-align: text-top; padding-left: 15px;"><em>Nov. 2000 à Nov. 2001</em><br />
<span style="font-size: medium; color: #000000;"><strong>Communication &amp; </strong></span><span style="font-size: medium; color: #000000;"><strong>Systèmes</strong></span></td>
<td style="background-color: #ffffff; padding-left: 10px;"><span style="color: #000000; font-size: medium;"><strong>Ingénieur génie logiciel</strong></span></p>
<ul>
<li><span style="color: #000000; font-size: small;">Industrialisation de l'IHM du Portail Vidéo Haut Débit de France Télécom basé sur le protocol H323 (Asp).</span></li>
</ul>
</td>
</tr>
<tr>
<td style="background-color: #d3d3d3; vertical-align: text-top; border-width: 0px; padding-left: 15px;"><em>Sep. 1999 à Oct. 2000</em><br />
<span style="font-size: medium; color: #000000;"><strong>Jouve</strong></span></td>
<td style="background-color: #ffffff; border-width: 0px; padding-left: 10px;"><span style="color: #000000; font-size: medium;"><strong>Ingénieur génie logiciel</strong></span></p>
<ul>
<li><span style="color: #000000; font-size: small;">Réalisation de la partie cliente d'une architecture distribuée Dcom (Visual Basic, C++, Oracle) dans le cadre du projet Archimède de l'INPI.</span></li>
</ul>
</td>
</tr>
<tr>
<td style="border-color: #000000; border-width: 1px; border-bottom-style: solid; background-color: #d3d3d3; padding-left: 5px;"><span style="color: #ffffff; font-size: medium;"><strong>Formation</strong></span></td>
<td style="border-color: #000000; border-width: 1px; border-bottom-style: solid; background-color: #ffffff;"></td>
</tr>
<tr>
<td style="background-color: #d3d3d3; border-width: 0px; padding-left: 15px;"><em>1998-99</em></td>
<td style="background-color: #ffffff; border-width: 0px; padding-left: 10px;"><span style="color: #000000; font-size: small;">DESS Informatique à l'Université de Bretagne Occidentale.</span></td>
</tr>
<tr>
<td style="background-color: #d3d3d3; border-width: 0px; padding-left: 15px;"><em>1997-98</em></td>
<td style="background-color: #ffffff; border-width: 0px; padding-left: 10px;"><span style="color: #000000; font-size: small;">Ingénieur-Maître en Génie Informatique à l' IUP GI La Rochelle.</span></td>
</tr>
<tr>
<td style="background-color: #d3d3d3; border-width: 0px; padding-left: 15px;"><em>1993</em></td>
<td style="background-color: #ffffff; border-width: 0px; padding-left: 10px;"><span style="color: #000000; font-size: small;">Bac C au lycée Pierre Guéguin de Concarneau.</span></td>
</tr>
<tr>
<td style="border-color: #000000; border-width: 1px; border-bottom-style: solid; background-color: #d3d3d3; padding-left: 5px;"><span style="color: #ffffff; font-size: medium;"><strong>Compétences</strong></span></td>
<td style="border-color: #000000; border-width: 1px; border-bottom-style: solid; background-color: #ffffff;"></td>
</tr>
<tr>
<td style="background-color: #d3d3d3; border-width: 0px; padding-left: 15px;"><em>Conférencier</em></td>
<td style="background-color: #ffffff; border-width: 0px; padding-left: 10px;"><span style="color: #000000; font-size: small;">Présentation de Thrift a la Breizh C@mp 2012</span></td>
</tr>
<tr>
<td style="background-color: #d3d3d3; border-width: 0px; padding-left: 15px;"><em>Environnements</em></td>
<td style="background-color: #ffffff; border-width: 0px; padding-left: 10px;"><span style="color: #000000; font-size: small;">Windows, Linux, Mac OS X</span></td>
</tr>
<tr>
<td style="background-color: #d3d3d3; border-width: 0px; padding-left: 15px;"><em>Langages</em></td>
<td style="background-color: #ffffff; border-width: 0px; padding-left: 10px;"><span style="color: #000000; font-size: small;">Java, SQL, Asp, Php, Basic, Jsp, Jstl, Perl, Struts, HTML, Javasript, Jquery, Ajax, Spring, CSS, Thrift, Ant, Bash, GWT, Objective C, API REST<br />
</span></td>
</tr>
<tr>
<td style="background-color: #d3d3d3; border-width: 0px; padding-left: 15px;"><em>Langue</em></td>
<td style="background-color: #ffffff; border-width: 0px; padding-left: 10px;"><span style="color: #000000; font-size: small;">Anglais</span></td>
</tr>
</tbody>
</table>
