<ol>
<li>Lancer l'application serveur via un clique droit sur la classe PushAlerte, Run As/Java Application.</li>
<p><a href="{{ site.baseurl }}/assets/Figure-40.png"><img src="{{ site.baseurl }}/assets/Figure-40-300x263.png" alt="" title="Figure - 43" width="300" height="263" class="alignnone size-medium wp-image-356" /></a></p>
<li>La console d'Eclipse doit afficher les traces de l'exécution.</li>
<p><a href="{{ site.baseurl }}/assets/Figure-41.png"><img src="{{ site.baseurl }}/assets/Figure-41-300x47.png" alt="" title="Figure - 44" width="300" height="47" class="alignnone size-medium wp-image-357" /></a></p>
<li>L'iphone ouvre une pop up d'alerte avec le message HelloWorld.</li>
<p><a href="{{ site.baseurl }}/assets/Figure-42.png"><img src="{{ site.baseurl }}/assets/Figure-42-200x300.png" alt="" title="Figurre - 45" width="200" height="300" class="alignnone size-medium wp-image-358" /></a>
</ol>
