<p>L'étape suivante consiste à créer un provisioning profile pour permettre l'installation du logiciel sur un terminal.</p>
<ol>
<li>Cliquer sur l'item Provisionning du menu de gauche. Une nouvelle page s'ouvre.</li>
<p><a href="{{ site.baseurl }}/assets/Figure-14.png"><img src="{{ site.baseurl }}/assets/Figure-14-300x54.png" alt="" width="300" height="54" class="alignnone size-medium wp-image-295" /></a></p>
<li>Cliquer sur New Profile.</li>
<li>Dans la nouvelle page saisir Developpement_Test_alerte dans Profil Name, cocher la case Certificates, sélectionner TestAlerte dans App ID et cocher les terminaux que vous souhaitez ajouter à ce profil de provisionning. Cliquer sur Submit.</li>
<p><a href="{{ site.baseurl }}/assets/Figure-15.png"><img src="{{ site.baseurl }}/assets/Figure-15-300x132.png" alt="" width="300" height="132" class="alignnone size-medium wp-image-296" /></a></p>
<li>Le nouveau certificat est généré et apparaît dans la liste.</li>
<p><a href="{{ site.baseurl }}/assets/Figure-16.png"><img src="{{ site.baseurl }}/assets/Figure-16-300x42.png" alt="" width="300" height="42" class="alignnone size-medium wp-image-297" /></a>
</ol>
