<ol>
<li>Pour effectuer cette opération, cliquer sur le lien Configure qui se trouve à droite dans la description de l'App ID.</li>
<p><a href="{{ site.baseurl }}/assets/Figure-9.png"><img src="{{ site.baseurl }}/assets/Figure-9-300x63.png" alt="" width="300" height="63" class="alignnone size-medium wp-image-284" /></a></p>
<li>Une nouvelle page s'ouvre.</li>
<p><a href="{{ site.baseurl }}/assets/Figure-10.png"><img src="{{ site.baseurl }}/assets/Figure-10-300x175.png" alt="" width="300" height="175" class="alignnone size-medium wp-image-285" /></a></p>
<li>Cocher la case Enable for Apple Push Notification service puis cliquer sur le bouton Configure pour Development Push SSL Certificate. Une popup s'ouvre.</li>
<p><a href="{{ site.baseurl }}/assets/Figure-11.png"><img src="{{ site.baseurl }}/assets/Figure-11-300x275.png" alt="" width="300" height="275" class="alignnone size-medium wp-image-287" /></a></p>
<li>Cliquer sur Continue. Sélectionner le fichier de demande de certificat généré au début du processus via le bouton. Cliquer sur Generate.</li>
<li>Le certificat est généré. Cliquer sur Continue.</li>
<p><a href="{{ site.baseurl }}/assets/Figure-12.png"><img src="{{ site.baseurl }}/assets/Figure-12-300x271.png" alt="" width="300" height="271" class="alignnone size-medium wp-image-289" /></a></p>
<li>Cliquer sur Download. Puis sur le bouton Done.</li>
<li>Le fichier généré s'appelle aps_developpement.cer et contient le certificat ssl. Double cliquer sur le fichier, ce dernier est ajouter au Trousseaux d'accès.</li>
<p><a href="{{ site.baseurl }}/assets/Figure-13.png"><img src="{{ site.baseurl }}/assets/Figure-13-300x67.png" alt="" width="300" height="67" class="alignnone size-medium wp-image-291" /></a>
</ol>
