---
layout: post
title: Apple Push Notification Services via JavaPNS
date: 2012-07-05 10:20:00.000000000 +02:00
type: post
published: true
status: publish
categories:
- Informatique
tags: []
meta:
  _edit_last: '1'
author:
  login: superuser
  email: frederic.gillouard@gmail.com
  display_name: superuser
  first_name: ''
  last_name: ''
---
<p>Apple propose l'Apple Push Notification Service (APN). Ce service permet à un terminal Ipad/Iphone d'être constamment connecté au serveur d'Apple push notification. Lorsque vous voulez envoyer une notification push à une application installée sur un terminal distant, vous (le fournisseur) envoyez vos messages via l'APN afin que ce dernier puisse délivrer le message push à l'application cible installée sur le média distant.</p>
<p>Dans cette série de page, nous allons dérouler les différentes étapes nécessaires pour créer une application iPhone qui utilise l'APN et l'implémentation serveur java pour envoyer des messages.</p>
<h2>Demander une demande de certificat à une autorité de certificat</h2>{{ site.baseurl }}{% include 2012-07-05-demander-une-demande-de-certificat-a-une-autorite-de-certificat.html %}
<h2>Demander un App ID</h2>{{ site.baseurl }}{% include 2012-07-05-demander-un-app-id.html %}
<h2>Configurer l'App ID pour la notification Push</h2>{{ site.baseurl }}{% include 2012-07-05-configurer-lapp-id-pour-la-notification-push.html %}
<h2>Création d'un Provisioning Profile</h2>{{ site.baseurl }}{% include 2012-07-05-creation-dun-provisioning-profile.html %}
<h2>Création de l'application Iphone</h2>{{ site.baseurl }}{% include 2012-07-05-creation-de-lapplication-iphone.html %}
<h2>Création d'un certificat P12</h2>{{ site.baseurl }}{% include 2012-07-05-creation-dun-certificat-p12.html %}
<h2>Création de la partie serveur de notification Push</h2>{{ site.baseurl }}{% include 2012-07-05-creation-de-la-partie-serveur-de-notification-push.html %}
<h2>Test des applications</h2>{{ site.baseurl }}{% include 2012-07-05-test-des-applications.html %}